<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Medical Journals</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Medical Journals</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" th:switch="${#authentication.principal}">
                <li th:case="'anonymousUser'">
                    <form action="/login">
                        <input type="submit" class="btn btn-default navbar-btn" id="login" value="Log In"/>
                    </form>
                </li>
                <li th:case="*">
                    <div class="navbar-text"><span id="loginname"
                            th:text="${#authentication.name}"></span></div>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-default navbar-btn" value="Log Out"/>
                    </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>